<!DOCTYPE html>
<html>

<head>
    <title>hello world</title>
    <script type="text/javascript" src="../assets/js/vue.js"></script>
</head>

<body>
</body>
<h1>v-model 绑定数据源 就是把数据绑定到特定的表单元素上 可以很容易的实现双向数据绑定 </h1>
<hr>
<div id="helloworld">
    <p>原始文本信息:<span v-text="message"></span></p>
    <hr>
    <!-- 
    v-model有几个修饰符 
    .number 输入字符串转为数字 
    .trim 输入去掉首尾空格
    .lazy 取代 imput 监听 change 事件  当源数据发生改变的时候 不会立即发生改变 当敲击回车的时候 才会被修改
    -->
    <p>.lazy
        <input type="text" v-model.lazy="message">
    </p>
    <p>.number
        <input type="text" v-model.number="message">
    </p>
    <p>.trim
        <input type="text" v-model.trim="message">
    </p>
    <hr>
    <textarea cols="30" rows="10" v-model="message"></textarea>
    <hr>
    <h3>多选按钮绑定一个值</h3>
    <input type="checkbox" id="isTrue" v-model="isTrue">
    <label for='isTrue'>{{isTrue}}</label>
    <hr>
    <h3>多选绑定一个数组</h3>
    <p>
        <input type="checkbox" id="Java" value="Java" v-model="web_Names">
        <label for="Java">Java</label>
        <br/>
        <input type="checkbox" id="Python" value="Python" v-model="web_Names">
        <label for="Python">Python</label>
        <br/>
        <input type="checkbox" id="Node" value="Node" v-model="web_Names">
        <label for="Python">Node</label>
        <p>您选择的语言有: <span v-text="web_Names"></span></p>
    </p>
    <hr>
    <h3>单选按钮绑定</h3>
    <input type="radio" id="one" value="男" v-model="sex">
    <label for="one">男</label>
    <input type="radio" id="two" value="女" v-model="sex">
    <label for="two">女</label>
    <p>您选择的性别是: <span v-text="sex"></span></p>
    <hr>
    <select v-model="city">
        <option v-for="item in opts" v-text="item">
        </option>
    </select>
    <p>你选择的城市是: <span v-text="city"></span></p>
</div>
<script type="text/javascript">
var helloworld = new Vue({
    el: '#helloworld',
    data: {
        message: "hello vue",
        sex: "男",
        web_Names: ["Java"],
        isTrue: true,
        opts: ["上海", "北京", "深圳"],
        city: "上海"

    }
});
</script>

</html>